<div class="jumbotron text-center font-weight-bold" id="jumbotron"  style="background: url({{site.url}}{{site.baseurl}}/img/bg.jpg) no-repeat scroll;background-size: cover;">
  <p class="display-4 text-danger">Project Donner</p>
  <p>一个过不了 鬼9 的太鼓玩家制作的 太鼓达人谱面查看 App</p>
  <p>就算你用了这个 App 你也过不了 鬼9 </p>
  <p class="lead">
    <a class="btn btn-secondary" href="https://github.com/szhielelp/Project-Donner/releases" role="button">下载最新版</a>
    <a class="btn btn-secondary" href="http://szhshp.org" role="button">给作者介绍对象</a>   
  </p>
</div>