<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> 
  <title>{{site.title}}</title>
 </head>
 <body>
   {% include global-css.html %} 
  <link href="{{site.url}}{{site.baseurl}}/css/head.css" rel="stylesheet" type="text/css" /> 
  <link href="{{site.url}}{{site.baseurl}}/css/archives.css" rel="stylesheet" type="text/css" />   
  <div id="wrapper" style="background: url({{site.url}}{{site.baseurl}}/img/body_background1.png);">
    {% include head.html %} 
   <div class="col-12 p-3"> 
    <h2>功能截图</h2> 
    <div class="row">
      <div class="col-md-3 p-3">
        <h3>首页</h3>
        <img src="{{site.url}}{{site.baseurl}}/img/demo/1.png" class="img-fluid" alt="Responsive image" width="300px" /> 
      </div>
      <div class="col-md-3 p-3">
        <h3>搜索谱面</h3>
        <img src="{{site.url}}{{site.baseurl}}/img/demo/2.png" class="img-fluid" alt="Responsive image" width="300px" /> 
      </div>
      <div class="col-md-3 p-3">
        <h3>查看谱面</h3>
        <img src="{{site.url}}{{site.baseurl}}/img/demo/3.png" class="img-fluid" alt="Responsive image" width="300px" /> 
      </div>
      <div class="col-md-3 p-3">
        <h3>已保存谱面</h3>
        <img src="{{site.url}}{{site.baseurl}}/img/demo/4.png" class="img-fluid" alt="Responsive image" width="300px" /> 
      </div>
      <div class="col-md-3 p-3">
        <h3>谱面详细图片</h3>
        <img src="{{site.url}}{{site.baseurl}}/img/demo/5.png" class="img-fluid" alt="Responsive image" width="300px" /> 
      </div>
      <div class="col-md-3 p-3">
        <h3>(更多功能开发中)</h3>
      </div>
    </div>
   </div> 
   {% include footer.html %}
  </div> {% include global-js.html %} 
  <script src="{{site.url}}{{site.baseurl}}/js/sidebar.js"></script> 
  <script src="{{site.url}}{{site.baseurl}}/js/content-pagination.js"></script>   
 </body>
</html>